.custom-corner-borders::before,
.custom-corner-borders::after {
  content: "";
  position: absolute;
  border: 5px solid white;
  width: 160px;
  height: 60px;
}

.custom-corner-borders::before {
  top: -5px;
  left: -4px;
  border-top-left-radius: 20px;
  border-right: none;
  border-bottom: none;
}

.custom-corner-borders::after {
  bottom: -5px;
  right: -4px;
  border-bottom-right-radius: 20px;
  border-left: none;
  border-top: none;
}
